<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>5FQV9R5NVC</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-HArguc8AeZe1mNtWnbtmI020q</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-Oyi2XaeVJTz3dGp8MCyWZKm2MnlBYImOvPNt8H6cM5Uizi7fFm</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>5FQV9R5NVC</string>
	<key>FacebookClientToken</key>
	<string>76e03d5a53690ac15c05e609f3720b6c</string>
	<key>FacebookDisplayName</key>
	<string>Facebook</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>instagram</string>
		<string>fbapi</string>
		<string>fbauth2</string>
		<string>fb-messenger-share-api</string>
		<string>fbshareextension</string>
		<string>twitterkit-HArguc8AeZe1mNtWnbtmI020q://</string>
		<string>twitter</string>
		<string>twitterauth</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>13.0.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Urbanist-Bold.ttf</string>
		<string>Urbanist-Regular.ttf</string>
		<string>Urbanist-LightItalic.ttf</string>
		<string>Urbanist-ExtraLightItalic.ttf</string>
		<string>Urbanist-ExtraBoldItalic.ttf</string>
		<string>Urbanist-Thin.ttf</string>
		<string>Urbanist-MediumItalic.ttf</string>
		<string>Urbanist-SemiBold.ttf</string>
		<string>Urbanist-Italic.ttf</string>
		<string>Urbanist-Black.ttf</string>
		<string>Urbanist-BlackItalic.ttf</string>
		<string>Urbanist-Light.ttf</string>
		<string>Urbanist-SemiBoldItalic.ttf</string>
		<string>Urbanist-BoldItalic.ttf</string>
		<string>Urbanist-ExtraBold.ttf</string>
		<string>Urbanist-Medium.ttf</string>
		<string>Urbanist-ExtraLight.ttf</string>
		<string>Urbanist-ThinItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>push-to-talk</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
